header {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    background-color: #125A8E;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 55rem;
}

.logo img {
    height: 4rem;
    width: auto;
    cursor: pointer;
}

.notification-account {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.notification-account i {
    color: beige;
    font-size: 1.5rem;
    cursor: pointer;
}
.bell {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%vh;
    position: relative;
}
.bell-notify {
    display: none;
    position: absolute;
    background-color: #FFFBF2;
    margin-top: 3.5rem;
    border-radius: 0.5rem;
    padding: 1rem 0.5rem 1rem 0.5rem;
    width: 18rem;
    height: auto;
    overflow: auto;
    z-index: 1;
}
.bell-notify div {
    display: block;
}
.show {
    display: block;
}
.account-btn {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%vh;
    position: relative;
}
.account-btn button {
    background: #ffd15e;
    background-image: -webkit-linear-gradient(top, #ffd15e, #ffbb00);
    background-image: -moz-linear-gradient(top, #ffd15e, #ffbb00);
    background-image: -ms-linear-gradient(top, #ffd15e, #ffbb00);
    background-image: -o-linear-gradient(top, #ffd15e, #ffbb00);
    background-image: linear-gradient(to bottom, #ffd15e, #ffbb00);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #000000;
    font-size: 20px;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition-duration: 0.5s
}

.account-btn button:hover {
    background: #f55f76;
    background-image: -webkit-linear-gradient(top, #f55f76, #e83c53);
    background-image: -moz-linear-gradient(top, #f55f76, #e83c53);
    background-image: -ms-linear-gradient(top, #f55f76, #e83c53);
    background-image: -o-linear-gradient(top, #f55f76, #e83c53);
    background-image: linear-gradient(to bottom, #f55f76, #e83c53);
    text-decoration: none;
    color: beige;
}
.drop-account {
    display: none;
    position: absolute;
    background-color: #FFFBF2;
    margin-top: 3.5rem;
    border-radius: 0.5rem;
    padding: 1rem 0.5rem 1rem 0.5rem;
    width: 18rem;
    height: auto;
    overflow: auto;
    z-index: 1;
}
.drop-account div {
    display: block;
}
.show {display: block;}
.block-ac {
    border-top: 1px solid grey;
    padding: 0.5rem 0 0.5rem 0;
    margin-top: 1rem;
}
#my-tidy li {
    list-style-type: none;
    padding: 0.8rem 0 0.8rem 0;
}
.taskbar {
    background-color: #faecc7;
    width: 35%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.taskbar ul {
    list-style-type: none;
    margin: none;
    width: 100%;
    text-align: left;
    height: 100%;
    padding-top: 1rem;
}

.taskbar>ul>li  {
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    color: #125A8E;
    padding: 0.8rem 3rem 0.8rem;
    display: block;
    text-decoration: none;
    cursor: pointer;

}

.taskbar i {
    padding-right: 1rem;

}



.add-board {
    /*display: none;*/
    position: absolute;
    background-color: yellowgreen;
    margin-left: 12.5rem;
    
    border-radius: 0.5rem;
    padding: 1rem 0.5rem 1rem 0.5rem;
    width: 18rem;
    height: auto;
    overflow: auto;
    z-index: 1;
}

.taskbar img {
    height: 6rem;
    padding-left: 1rem;
}

.help-icon {
    width: 125px;
    height: 128px;


}